<%- layout('layout/layout') %>

<h1>Deliveryman Dashboard</h1>
<div class="container">
	<ul
		class="
			d-flex
			list-unstyled
			w-75
			justify-content-around
			border-bottom border-dark
			pb-2
			col-6
			offset-2
		"
	>
		<li>Orders</li>
		<li>Status</li>
		<li>Update Status</li>
	</ul>
	<% assignedOrders.forEach((order,index) => { %>
	<div class="border">
		<h6 class="text-center text-uppercase border-bottom">
			Order <%= index +1 %>
		</h6>
		<div class="row">
			<% order.products.forEach(product => { %>
			<div class="col-3 me-3">
				<h5><%= product.name %></h5>
				<img
					class="w-50"
					src="<%= product.image %> "
					alt="Image not found..."
				/>
			</div>
			<div class="col"><%= order.orderState %></div>
			<form action="/delivery-dashboard" class="d-flex" method="POST">
				<select
					class="form-select w-50 h-25 mx-5"
					aria-label="Default select example"
					name="deliveryStatus"
				>
					<option <%- order.orderState=='Task Created' && "selected" %> value="Task Created#<%= order._id %>">Task Created</option>
					<option <%- order.orderState=='Reached Store' && "selected" %> value="Reached Store#<%= order._id %>">Reached Store</option>
					<option <%- order.orderState=='Items Picked' && "selected" %> value="Items Picked#<%= order._id %>">Items Picked</option>
					<option <%- order.orderState=='Enroute' && "selected" %> value="Enroute#<%= order._id %>">Enroute</option>
					<option <%- order.orderState=='Delivered' && "selected" %> value="Delivered#<%= order._id %>">Delivered</option>
					<option <%- order.orderState=='Canceled' && "selected" %> value="Canceled#<%= order._id %>">Canceled</option>
				</select>
				<button class="btn btn-info w-25 text-white">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-25"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M5 13l4 4L19 7"
						/>
					</svg>
				</button>
			</form>
			<% }) %>
		</div>
	</div>
	<% }) %>
</div>
