<%- layout('layout/layout') %>
<link rel="stylesheet" href="/stylesheets/common.css">
<div class="container1">
	<h1 class="header1">Fastgenix</h1>
</div>
<div class="vh-100">
<div class="container">
	<% products.forEach(product => { %>
	<div class="card border border-dark" style="width: 24rem; height: 35rem;">
		<img
			src="<%= product.image%>"
			class="card-img-top "
			alt="Image not available..."
		/>
		<div class="card-body">
			<h3 class="card-title"><%= product.name %></h3>
			<p class="card-text"><%= product.description %></p>
		</div>
		<div class="card-body p-0">
			<form action="/cart" class="form mt-5" method="POST">
				<input
					type="text"
					value="<%= product._id %>"
					name="_id"
					class="d-none"
				/>
				<button
					class="
						card-link
						bg-primary
						text-white text-decoration-none text-center
						p-2
						rounded
						border-0
						outline-0
						w-75
					"
				>
					Add to Cart
				</button>
			</form>
		</div>
	</div>
	<% }) %>
</div>
</div>
